@charset "UTF-8";

@import './_rem.scss';

/***** 自定义组件 *************************/
/* HTML 基础样式 */
select,
option {
    color: #888;
    font-size: rem(28px);
}

input {
    color: #888;
    font-size: rem(28px);
}
